***Conversiones entre tipos de datos***

Semana 3 - Tarea 1

In [30]:
#Entero a flotante
entero = 10
enteroFlotante = float(entero) #Se convierte el entero a flotante
print(f'Entero:     {entero}, {type(entero)}       ---> Flotante: {enteroFlotante}, {type(enteroFlotante)}')

#Flotante a entero
flotante = 20.33
flotanteEntero = int(flotante) #Se convierte el flotante a entero
print(f'Flotante:   {flotante}, {type(flotante)}  ---> Entero: {flotanteEntero}, {type(flotanteEntero)}')

#String a entero
caracteres = '123'
caracteresEntero = int(caracteres) #Se convierte el caracter a entero
print(f'Caracteres: {caracteres}, {type(caracteres)}      ---> Entero: {caracteresEntero}, {type(caracteresEntero)}')

#String a float
caracteresFloat = float(caracteres) #Se convierte el caracter a flotante
print(f'Caracteres: {caracteres}, {type(caracteres)}      ---> Flotante: {caracteresFloat}, {type(caracteresFloat)}')

#Entero a caracter
enteroCaracter = str(entero) #Se convierte el entero a caracter
print(f'Entero:     {entero}, {type(entero)}       ---> String: {enteroCaracter}, {type(enteroCaracter)}')

#Flotante a caracter
flotanteCaracter = str(flotante) #Se convierte el flotante a caracter
print(f'Flotante:   {flotante}, {type(flotante)}, ---> Caracter: {flotanteCaracter}, {type(flotanteCaracter)}')

Entero:     10, <class 'int'>       ---> Flotante: 10.0, <class 'float'>
Flotante:   20.33, <class 'float'>  ---> Entero: 20, <class 'int'>
Caracteres: 123, <class 'str'>      ---> Entero: 123, <class 'int'>
Caracteres: 123, <class 'str'>      ---> Flotante: 123.0, <class 'float'>
Entero:     10, <class 'int'>       ---> String: 10, <class 'str'>
Flotante:   20.33, <class 'float'>, ---> Caracter: 20.33, <class 'str'>

*Semana 3 - Actividad final*

In [38]:
#Enteros (int)
entero1 = 10
entero2 = 0

#Float
flotante1 = 10.6
flotante2 = 0.0

#Booleanos
booleano1 = True
booleano2 = False

#Strings
string1 = 'Real Madrid el mas grande'
string2 = '' 

#Conversiones
entero1Flotante = float(entero1) # Convertimos la variable de tipo int entero1 a flotante
print(entero1Flotante, type(entero1Flotante)) # Al pasar de entero a flotante siempre va a tener 0 como decimal

entero2String = str(entero2)
print(entero2String, type(entero2))

entero1Bool = bool(entero1) # Convertimos entero1, que es diferente de 0 a booleano
print(entero1Bool, type(entero1Bool)) # Al pasar de valores numericos a booleanos, el valor booleano sera True siempre que el valor numerico != 0

entero2Bool = bool(entero2) # Convertimos entero2 = 0 a booleano.
print(entero2Bool, type(entero2Bool)) # Sera False, porque pasar de valor numerico a booleano siempre es False cuando el valor numerico es 0

flotante1Entero = int(flotante1) # Convertimos flotante1 = 10. 5 a entero
print(flotante1Entero, type(flotante1Entero)) # El resultado se redondea a 10 debido a que se le quita el punto decimal y se queda con la parte entera

flotante2Bool = bool(flotante2) # Convertimos flotante2 = 0.0 a booleano
print(flotante2Bool, type(flotante2Bool)) # El resultado sera false por que es igual a 0

string1Bool = bool(string1) # Convertimos la cadena de caracteres string1 que no esta vacia a booleano
print(string1Bool, type(string1Bool)) # Por lo que la conversion es True ya que la transformacion de cadenas no vacias a bool es true

string2Bool = bool(string2) # Convertimos la cadena de caracteres vacia string2a booleano
print(string2Bool, type(string2Bool)) # Por lo que la conversion es false ya que la transformacion de cadenas vacias a bool es false

10.0 <class 'float'>
0 <class 'int'>
True <class 'bool'>
False <class 'bool'>
10 <class 'int'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>